footer
  .container
    .d-flex.flex-wrap.justify-content-between.align-items-center
      .footer_logo
      .footer_links.d-flex.flex-wrap
        a(href='#') Terms and Conditions
        a(href='#') Privacy Policy
        a(href='#') Contact Us
    p.warning
      span Warning 
      | The statments made on our websites have not been evaluated by the FDA (U.S. Food & Drug Administration). This product is not intended to diagnose, cure or prevent any disease. The information provided by this website or this companay is not a substitute for a face-to-face consultation with your physician, and should not be construed as indvidial medical advice. The testimonials on this website are individial cases and do not guarantee that you will get the same results.
    .d-flex.flex-wrap.justify-content-between.align-items-center
      .footer_copyright
        p Copyright &copy; 2017
        p MAsterSPA, LLC   ITN 104380285762   PRSN 427602692592
      .footer_credit_cards.d-flex.flex-nowrap.justify-content-center.align-items-center
        p Easy purchase
        .credit_cards_container.d-flex.flex-wrap.justify-content-center.align-items-center
          .credit_card_visa
          .credit_card_visa_electron
          .credit_card_mastercard
          .credit_card_paypal
          .credit_card_american_express