.section_arrow_and_button_container.d-flex.flex-wrap.justify-content-center.justify-content-md-between.align-items-center
  .section_arrow_and_button.d-flex.justify-content-end.justify-content-lg-start.align-items-center
    img.section_arrow_two_bottles_and_molekul_small.hidden-md-down(src='img/two_bottles_and_molekul_small.png', alt='')
    .section_arrow_text
      p.section_arrow_title #{section_arrow_and_button.title}
      p.section_arrow_subtitle #{section_arrow_and_button.subtitle}
  a.btn_main(href='#')
    p #{button}