.warning_overlay.d-flex.justify-content-center.align-items-center
  img(src='img/icons/warning_icon.png', alt='')
  p.warning
    span #{warning_message.warning_span}
    | #{warning_message.warning_text}