// Resolutions
$md_screen: 991px
$sm_screen: 575px

// Fonts
$font-stack: 'Roboto', sans-serif

// Colors:
$white: #fff
$accent_color_1: #f8f903
$accent_color_2: #83cf66
$warning_color: #ff1844
$warning_bg_color: rgba(21, 22, 35, 0.7)

// Gradients
$accent_color_1_gradient: linear-gradient(to bottom, rgba(250,250,1,1) 0%, rgba(250,220,26,1) 100%)
$accent_color_1_webkit_gradient: -webkit-linear-gradient(to bottom, rgba(250,250,1,1) 0%, rgba(250,220,26,1) 100%)
$silver_white_gradient: linear-gradient(-90deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(195,195,195,1) 100%)
$silver_white_webkit_gradient: -webkit-linear-gradient(-90deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(195,195,195,1) 100%)
